 * {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
 }  


body{
    background-color:lightblue;
}


.division{
    border: gray solid 2px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(1, 0, 0, 0.5);

}

.division1{
    padding: 5px;
    border: gray solid 2px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#division1{
    text-align: center;

}
#division2{
    text-align: center;
}